<div class="dialog-container">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content *ngIf="data.cloud">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="data.cloud.name">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>Domain ID</mat-label>
            <input matInput placeholder="Domain ID" [(ngModel)]="data.cloud.domain">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Auth URL</mat-label>
            <input matInput placeholder="Auth URL" [(ngModel)]="data.cloud.url">

        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Cloud User</mat-label>
            <input matInput placeholder="Cloud User" [(ngModel)]="data.cloud.user">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="data.cloud.password">
            <button color="accent" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-stroked-button [mat-dialog-close]="data" cdkFocusInitial color="accent">Save</button>
    </div>
</div>