@import '../var.scss';
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

#profilePhoto {
    box-sizing: border-box;
    width: 3em;
    border-radius: 50%;
    // margin-right: 2em;
    border: 0.08em solid $accent-color;
}

h2 {
    // background-color: $accent-color;
    // color: $background-color;
    text-align: center;
    margin: 0 0.5em;
    padding: 0.2em 0;
}

#logo {
    width: 6em;
    background-color: $background-color;
    box-sizing: border-box;
    padding: 0.8vh;
    margin-right: 1vw;
    border-radius: 0.5vh;
}

.side-nav-menu {
    list-style-type: none;
    margin: 0px;
    padding: 1em 0;
    width: 15vw;
}

.side-nav-menu-item {}

.side-nav-menu-a {
    text-decoration: none;
    display: flex;
    padding: 1em 0.5em;
    color: #333333;
}

.side-nav-menu-a:hover {
    box-shadow: 0px 0.5px 0.5px 0.5px #333333 !important;
}

.side-nav-menu-a-active {
    border-right: 0.5em solid $accent-color;
    color: $accent-color;
}