@import '../var.scss';
.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

#profilePhoto {
    box-sizing: border-box;
    width: 13em;
    border-radius: 50%;
    margin: 0.5em 2em;
    border: 0.4em solid $primary-color;
}

h2 {
    color: $primary-color;
    text-align: center;
    margin: 0 0.5em;
    padding: 0.2em 0;
}

#logo {
    width: 6em;
    background-color: $background-color;
    box-sizing: border-box;
    padding: 0.8vh;
    margin-right: 1vw;
    border-radius: 0.5vh;
}