@import '~@angular/material/theming';
@include mat-core();
$dr-primary: mat-palette($mat-grey, 50);
$dr-accent: mat-palette($mat-light-green, 500);
$dr-warn: mat-palette($mat-red);
$dr-background: mat-palette($mat-grey, 400);
$dr-theme: mat-light-theme($dr-primary, $dr-accent, $dr-warn);
@include angular-material-theme($dr-theme);
$primary: mat-color($dr-primary);
$accent: mat-color($dr-accent);
$warn: mat-color($dr-warn);
$background: mat-color($dr-background);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, "Helvetica lato", sans-serif;
}

.scrollbar-content-area {
    overflow: auto;
    width: 100%;
    height: 1000px;
    background-color: $background;
}

.mat-toolbar {
    z-index: 999 !important;
    box-shadow: 0px 50px 100px 20px $background !important;
}

.primary-color-bg {
    background-color: $primary !important;
}

.light-theme-background {
    background: green !important;
}